@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap");
body {
    font-family: "Poppins", sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] backdrop-blur-sm shadow;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}
.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

body {
}

/* .switch {
    display: inline-block;
    position: relative;
} */
